# Archivos PDF
**/*.pdf

# Archivos temporales de Emacs
**/*~

# Archivos txt
**/*.txt

# AbiWord files
**/*.abw

# Autómatas de Lex
**/*.yy.c

# Archivos Yacc/Bison
**/*.tab.*
**/*.output

# Codigo objeto
**/*.o

# Código LOOLI
**/*.lol
